body {
    background: #080C20;
    font-family: 'Manrope', sans-serif;
    color: white;
    overflow-x: auto;
}

.logo-icon {
    width: 150px;
    margin-bottom: 7em;
    margin-top: 5em;
    margin-left: 12em;
}

.heading-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner-center {
    display: flex;
    margin-right: 8em;
    padding: 0.1em;
    background-image: url("assets/bg-hero-squiggle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    justify-content: center;
    align-content: center;
}

.center-text {
    text-align: center;
    justify-content: center;
    width: 120%;
}

.center-paragraph {
    text-align: center;
    justify-content: center;
    width: 120%;
}

#scroll-icon {
    width: 1.7em;
    position: absolute;
    text-align: center;
    position: absolute;
    top: 95%;
    left: 56%;
}

img {
    width: 90%;
}

.benefit-section {
    margin-top: 13em;
    margin-bottom: 10em;
}

.benefit-image {
    background: #093F68;
    width: 70%;
    height: 180px;
    border-radius: 3em;
    padding: 1.5em 1.8em 1.5em 2.2em;
}

.benefit-image-small {
    background: #093F68;
    width: 70%;
    height: 180px;
    border-radius: 3em;
    padding: 2.2em 2.5em 2.2em 2.5em;
}

.benefit-image-car {
    background: #093F68;
    width: 70%;
    height: 180px;
    border-radius: 3em;
    padding: 2.7em 2em 2.7em 2em;
}

.benefit-indent {
    margin-top: 3em;
}

.benefit-text {
    margin-top: 3em;
    width: 95%
}

.pricing-header-section {
    display: flex;
    margin-top: 8em;
    justify-content: center;
}

.pricing-header-text{
    display: flex;
    justify-content: center;
}

.pricing-font-size {
    font-size: 32px;
}

#pricing-text {
    width: 500px;
    margin-bottom: 2em;
    text-align: center;
}

#pricing-section {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    margin-bottom: 10em;
}

.free-section {
    padding: 2em;
    padding-top: 3em;
    padding-bottom: 1em;
    background-color: #093f68;
    border-radius: 0.5em;
    width: 450px;
    margin-right: 1em;
}

.free-along-border {
    position: absolute;
    width: 3em;
    left: 32px;
    top: -24px;
}

.paid-section {
    padding: 2em;
    padding-top: 3em;
    padding-bottom: 2em;
    background-color: #3ee9e5;
    border-radius: 0.5em;
    width: 530px;
    margin-left: 1em;
}

.paid-along-border {
    position: absolute;
    width: 3em;
    left: 32px;
    top: -31px;
}

.free-text {
    width: 95%;
    margin-bottom: 2em;
    color: white;
    opacity: 0.5;
}

.paid-text {
    width: 100%;
    margin-bottom: 2em;
    color: black;
    opacity: 0.6;
}

.paid-text-color {
    color: black;
}

#paid-price-text {
    display: flex;
    font-size: 40px;
    margin-bottom: 0.5em;
}

.small-month {
    display: flex;
    font-size: 15px;
    color: black;
    opacity: 0.6;
    align-self: center;
    padding-left: 0.5em;
    width: 50%;
    font-weight: lighter;
}

.check-size {
    width: 0.8em;
    padding-bottom: 0.3em;
    margin-right: 1em;
}

.free-check {
    filter: brightness(0) saturate(100%) invert(70%) sepia(67%) saturate(450%) hue-rotate(125deg) brightness(105%) contrast(84%);
}

.email-section {
    padding-top: 5.3em;
    padding-bottom: 4em;
    background-image: url("assets/bg-footer-squiggle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 6em;
}

.notify-center {
    text-align: center;
    margin-bottom: 1.2em;
    font-size: 32px;
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-field-container {
    margin-left: 4em;
}

#invalid-text {
    padding: 0;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 14px;
    color: #FF2965;
    position: absolute;
}

.email-field {
    border: none;
    border-radius: 2em;
    margin-right: 1em;
    width: 320px;
    height: 50px;
    background-color: #093F68;
    color: white;
    margin-right: 0.5em;
    padding-left: 1.2em;
}

.email-field:focus {
    outline: none;
    border: solid #3ee9e5;
    color: white;
}

.email-field-invalid {
    border: none;
    border-radius: 2em;
    margin-right: 1em;
    width: 320px;
    height: 50px;
    background-color: #093F68;
    color: white;
    margin-right: 0.5em;
}

.email-field-invalid:focus {
    outline: none;
    border: solid #FF2965;
    color: white;
}

.email-button {
    border: none;
    border-radius: 2em;
    background-color: #3ee9e5;
    color: #093F68;
    height: 50px;
    width: 140px;
    margin-right: 3.5em;
    font-weight: bold;
    align-self: flex-start;
}

.email-button:focus , .email-button:hover {
    outline: none;
    border: solid #3ee9e5;
    background-color: #080C20;
    color:white;
}

::placeholder {
    font-weight: bold;
    color: #777F98;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 2rem;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1.5em;
}

span {
    color: #3ee9e5
}

p {
    font-size: 15px;
    color: #777f98;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 1.2em;
}

.pricing {
    font-size: 40px;
    margin-bottom: 0.5em;
}

/* For Tablets */
@media (max-width: 768px) {

    .logo-icon {
        width: 150px;
        margin-bottom: 5em;
        margin-top: 3em;
        margin-left: 3em;
    }

    .left-image {
        position: absolute;
        left: -23%;
        width: 50%;
    }
    
    .right-image {
        position: absolute;
        right: -29%;
        width: 50%;
    }
    
    .banner-center {
        margin-left: 6em;
        width: 50%;
    }

    #banner-main-text {
        font-size: 32px;
        width: 100%;
        margin-left: 1em;
        margin-top: -1em;
    }

    #banner-paragraph {
        width: 440px;
        margin-left: -2em;
    }

    #scroll-icon {
        width: 1.7em;
        position: absolute;
        text-align: center;
        position: absolute;
        top: 80%;
        left: 56%;
    }

    .benefit-container {
        display: flex;
        min-width: 720px;
        margin-left: -2em;
        margin-top: 2.3em;
    }

    .benefit-section {
        margin-top: 7em;
    }
        
    .benefit-image {
        writing-mode: horizontal-tb;
        background: #093F68;
        width: 120px;
        height: 120px;
        border-radius: 2.5em;
        padding: 1.3em 1.6em 1.3em 2em;
        margin-left: -2.5em;
    }
        
    .benefit-image-small {
        writing-mode: horizontal-tb;
        background: #093F68;
        width: 120px;
        height: 120px;
        border-radius: 2.5em;
        padding: 1.7em 2.2em 1.7em 2em;
    }
        
    .benefit-image-car {
        writing-mode: horizontal-tb;
        background: #093F68;
        width: 120px;
        height: 120px;
        border-radius: 2.5em;
        padding: 1.8em 1.2em 1.8em 1.2em;
        overflow: auto;
    }
        
    .benefit-indent {
        margin-top: 0;
    }

    .benefit-m-indent {
        margin-left: 3.5em;
    }
        
    .benefit-text {
        margin-top: 1.2em;
        margin-left: 3.2em;
        flex: 1;
    }

    .benefit-p {
        width: 78%;
    }
    
    .benefit-p-special {
        width: 80%;
    }

    .pricing-header-section {
        display: flex;
        margin-top: 8em;
        justify-content: center;
    }
    
    .pricing-font-size {
        font-size: 25px;
    }
    
    #pricing-text {
        width: 550px;
        margin-bottom: 2em;
        text-align: center;
    }
    
    #pricing-section {
        display: flex;
        justify-content: space-around;
        margin-top: 4em;
        margin-bottom: 7em;
    }
    
    .free-section {
        padding: 3.2em 1.7em 2.2em 2.2em;
        background-color: #093f68;
        border-radius: 0.5em;
        width: 450px;
        margin-right: 1em;
    }

    .paid-section {
        padding: 3.2em 1.7em 2.7em 2.2em;
        background-color: #3ee9e5;
        border-radius: 0.5em;
        width: 450px;
        margin-top: 4.2em;
        margin-right: 2em;
    }
    
    .paid-along-border {
        position: absolute;
        width: 3em;
        left: 32px;
        top: -31px;
    }
    
    .paid-text {
        width: 90%;
        margin-bottom: 2em;
    }

    .email-section {
        height: 140px;
        width: 1022px;
        left: -35%;
        padding-top: 2.5em;
        padding-bottom: 4em;
        background-image: url("assets/bg-footer-squiggle.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        margin-bottom: 7em;
    }
    
    .notify-center {
        font-size: 25px;
        text-align: center;
        margin-bottom: 1.2em;
        position: absolute;
        right: 23%;
        top: 10%;
    }
    
    .email-container {
        display: flex;
        align-items: center;
        width: 500px;
        margin-left: 230px;
        margin-top: 2em;
    }
    
    .email-field-container {
        display: flex;
        width: 500px;
    }
    .email-field {
        border: none;
        border-radius: 2em;
        margin-left: -2em;
        width: 320px;
        height: 50px;
        background-color: #093F68;
        color: white;
        margin-right: 0.5em;
        padding-left: 1.2em;
    }

    .email-button {
        border: none;
        border-radius: 2em;
        background-color: #3ee9e5;
        color: #093F68;
        height: 50px;
        width: 140px;
        font-weight: bold;
        right: -1%;
    }

    #invalid-text {
        left: 35.5%;
    }

    h3 {
        margin-bottom: 1em;
    }
}